/* Global Styling here */
.will-change {
  will-change: auto;
  z-index: 0;
}
.reactSelect {
  border-color: #adadad;
}

.reactSelect > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  background-color: white !important;
}
.reactSelect > :nth-child(2) > :nth-child(2) > :nth-child(1) {
  display: none;
}
.reactSelect > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  color: black;
  font-size: 11px;
}
.reactSelect > :nth-child(2) > :nth-child(1) {
  background-color: white !important;
  font-size: 12px;
}
tbody > tr:last-child td {
  border-bottom: none;
}
.js-plotly-plot .plotly .modebar {
  left: 50%;
  transform: translateX(-50%);
}
.js-plotly-plot .plotly .modebar--hover > :not(.watermark) {
  display: flex;
}
.js-plotly-plot .plotly .modebar {
  width: 100%;
}
.react-datepicker__input-container > :nth-child(1) {
  width: 100%;
  background: transparent;
  border: 1px solid #e2e8f0;
  padding-left: 3%;
  margin-top: 2%;
}
.react-datepicker__input-container > :nth-child(1):focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}

.react-datepicker__input-container > :nth-child(1):focus:not(:focus-visible) {
  outline: none;
}
.react-datepicker-popper {
  z-index: 2;
}
